[Unit]
Description=Hackspace Events socket

[Socket]
ListenStream=/run/hspacegunicorn.socket
#ListenStream=127.0.0.1:8000

[Install]
WantedBy=sockets.target
